@import url(http://fonts.googleapis.com/css?family=Open+Sans|Montserrat);
*{
	box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
	font-family: Montserrat, Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
}

.container{
		width:100%;
		height:100%;
		background:url(../assets/background.jpg) no-repeat;
		background-size: cover;
		padding-top: 20px;
	padding-bottom :40px;
	display:-webkit-flex;
	display:flex;
	flex-direction: column;
}

.main-form{
		width:360px;
		margin: auto;
		border-radius: 10px;
		background: #FFFFFF;
		-moz-box-shadow: 0px 20px 20px 0px rgba(38,30,10,0.50);
		box-shadow: 0px 20px 20px 0px rgba(38,30,10,0.50);
		padding:60px 40px 40px;
}
.main-form:before{
		content:' ';
		display:block;
		width:20px;
		height:20px;
		position:relative;
		top:-80px;
		left:120px;
		border-radius: 100%;
		border:10px solid #fff;
		background:#423c31;
}
.logo{
		background: url(../assets/logo.png) no-repeat;
		width:208px;
		height:108px;
		margin:0 auto;
	margin-top: -40px;
	margin-bottom: 51px;
}

.animate-label{
	position:relative;
}
.animate-label input[id="name"],
.animate-label input[id="pass"]{
	display:block;
	outline: none;
	width:100%;
	height:71px;
	background:transparent;
	padding-left:14px;
	padding-top:20px;
	font-size: 24px;
	margin-bottom: 10px;
	border:1px solid #eaeaea;
	border-radius:2px;
	color:#71572C;
	text-transform:uppercase;
	box-sizing: border-box;
}
.animate-label label[for="name"],
.animate-label label[for="pass"]{
	cursor:text;
	display:block;
	position: absolute;
	left: 15px;
  top: 18px;
	text-align: left;
	font-size:20px;
	color:#ccc;
	-webkit-transition: .2s;
  transition: .2s;
}
.animate-label label[for="pass"]{
	top:98px;
}
.animate-label input[id="name"]:valid + label[for="name"],
.animate-label input[id="name"]:focus + label[for="name"] {
  top: 13px;
  font-size: 11px;
}
.animate-label input[id="pass"]:valid + label[for="pass"],
.animate-label input[id="pass"]:focus + label[for="pass"] {
  top: 93px;
  font-size: 11px;
}

input[type="submit"]{
	display:block;
	width:100%;
	height:50px;
	background:#EF572E;
	border:none;
	border-radius: 2px;
	color:#fff;
	text-transform: uppercase;
	margin-bottom: 4px;
}
input[type="submit"]:hover{
	background:#494336;
}
label[for="remember"]{
	font-family: "Open Sans", sans-serif;
	color:#adadad;
	display: block;
	padding-top: 4px;
	padding-left: 30px;
	text-align: left;
	letter-spacing: normal;
}

.checkbox, .radio {
	width: 25px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(../assets/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.forgot{
	display: block;
	color:#fff;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
}