@import url(http://fonts.googleapis.com/css?family=Montserrat);

html,body{
  width: 100%;
  height: 100%;
  text-align: center;
	font-family: Montserrat, Arial, sans-serif;
	font-size: 14px;
}

.container{
		width:100%;
		height:100%;
		background:url(../assets/background.jpg) no-repeat;
		background-size: cover;
		padding-top: 20px;
}

.main-form{
		width:360px;
		margin:0 auto;
		border-radius: 10px;
		background: #FFFFFF;
		-moz-box-shadow: 0px 20px 20px 0px rgba(38,30,10,0.50);
		box-shadow: 0px 20px 20px 0px rgba(38,30,10,0.50);
		padding:60px 40px 40px;
}
.main-form:before{
		content:' ';
		display:block;
		width:20px;
		height:20px;
		position:relative;
		top:-80px;
		left:160px;
		border-radius: 100%;
		border:10px solid #fff;
		background:#423c31;
}
.logo{
		background: url(../assets/logo.png) no-repeat;
		width:208px;
		height:108px;
		margin:0 auto;
}